@media all and (min-width:992px) and (max-width:1169px) {


    .tlo {
        background-image: url('../obrazy/man-2.jpg');
        height: 70vh;
    }

    header {
        display: inline;
        top: 15%;
        left: 60%
    }

    h2 {
        font-size: 20px;
    }

    h1 {
        font-size: 25px;
    }
}

@media all and (max-width:992px) {
    .tlo {
        background-image: url('../obrazy/man-1.jpg');
        height: 50vh;
    }

    header {
        color: #000;
        text-align: center;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
    }

    h2 {
        font-size: 25px;
    }

    h1 {
        font-size: 35px;
    }

}
